@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 182 100% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 180 90% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 182 100% 45%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 100% 15%;
    /* Dark Blue */
    --foreground: 210 40% 98%;
    --card: 240 70% 32%;
    --card-foreground: 210 40% 98%;
    --popover: 240 70% 32%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 100% 74%;
    /* Electric Blue */
    --primary-foreground: 240 100% 15%;
    --secondary: 240 50% 40%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 50% 40%;
    --muted-foreground: 210 40% 85%;
    --accent: 180 100% 81%;
    /* Light Cyan */
    --accent-foreground: 240 100% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 50% 40%;
    --input: 240 50% 40%;
    --ring: 182 100% 74%;
    /* Electric Blue */
    --chart-1: 182 100% 74%;
    --chart-2: 180 100% 81%;
    --chart-3: 200 100% 80%;
    --chart-4: 220 100% 80%;
    --chart-5: 240 100% 80%;
    --sidebar-background: 240 100% 27%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 240 100% 15%;
    --sidebar-accent: 240 70% 32%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 50% 40%;
    --sidebar-ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}